In [1]:
import os
import re
import time
from datetime import datetime

In [2]:
import numpy as np
import pandas as pd

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
# change dir
os.chdir("/Users/ben-tanen/Desktop/Projects/bt-website/projects/oscars-best-picture/")

In [5]:
# init selenium
# driver = webdriver.Chrome(ChromeDriverManager().install())
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [7]:
# define how deep we need to go on Metacritic (how many pages to find the lowest scoring nominee)
# page count assuming 24 films per page on Metacritic site
yr_depth = [
    {"year": 2000, "max_page": 6},
    {"year": 2001, "max_page": 6},
    {"year": 2002, "max_page": 4},
    {"year": 2003, "max_page": 4},
    {"year": 2004, "max_page": 6},
    {"year": 2005, "max_page": 7},
    {"year": 2006, "max_page": 6},
    {"year": 2007, "max_page": 2},
    {"year": 2008, "max_page": 9},
    {"year": 2009, "max_page": 11},
    {"year": 2010, "max_page": 4},
    {"year": 2011, "max_page": 18},
    {"year": 2012, "max_page": 10},
    {"year": 2013, "max_page": 5},
    {"year": 2014, "max_page": 7},
    {"year": 2015, "max_page": 5},
    {"year": 2016, "max_page": 10},
    {"year": 2017, "max_page": 7},
    {"year": 2018, "max_page": 21},
    {"year": 2019, "max_page": 15},
    {"year": 2020, "max_page": 7},
    {"year": 2021, "max_page": 19},
    {"year": 2022, "max_page": 13},
    {"year": 2023, "max_page": 5},
    {"year": 2024, "max_page": 8}
]

In [7]:
# get all films from all necessary pages
for yr in yr_depth[-1:]:
    yr_films = []
    for p in range(1, yr["max_page"] + 1):
        driver.get(f"https://www.metacritic.com/browse/movie/all/all/{yr['year']}/metascore/?page={p}")
        films = driver.find_elements(By.XPATH, "//div[contains(@class, 'c-finderProductCard_info')]")
        print(f"{yr['year']} p.{p} of {yr['max_page']} - {len(films)} films captured")
        yr_films += [
            {
                "title": f.find_element(By.XPATH, ".//div[@class='c-finderProductCard_title']").get_attribute("data-title"),
                "release_date": datetime.strptime(f.find_element(By.XPATH, ".//div[@class='c-finderProductCard_meta']/span").text, "%b %d, %Y"),
                "metacritic_score": int(f.find_element(By.XPATH, ".//div[contains(@title, 'Metascore ')]/span").text)
            } for i, f in enumerate(films)
        ]
    # save partials (in case of crash)
    pd.DataFrame(yr_films).to_csv(f"data/by-year/metacritic-topmovies-{yr['year']}.csv", index = False)

2024 p.1 of 8 - 24 films captured
2024 p.2 of 8 - 24 films captured
2024 p.3 of 8 - 24 films captured
2024 p.4 of 8 - 24 films captured
2024 p.5 of 8 - 24 films captured
2024 p.6 of 8 - 24 films captured
2024 p.7 of 8 - 24 films captured
2024 p.8 of 8 - 24 films captured

In [8]:
# concat all years together
all_films_df = pd.concat([pd.read_csv(f"data/by-year/metacritic-topmovies-{yr['year']}.csv") for yr in yr_depth])
all_films_df = all_films_df[~all_films_df["title"].str.contains("re-release")]
all_films_df["release_date"] = pd.to_datetime(all_films_df["release_date"], format = "%Y-%m-%d")
all_films_df = all_films_df.reset_index(drop = True)
all_films_df

                               title release_date  metacritic_score
0                              Yi Yi   2000-10-06                94
1     Crouching Tiger, Hidden Dragon   2000-12-08                94
2                       Beau Travail   2000-03-31                91
3                      Almost Famous   2000-09-13                90
4                        Chicken Run   2000-06-21                88
...                              ...          ...               ...
5124                  The Bikeriders   2024-06-21                70
5125     Molli and Max in the Future   2024-02-09                70
5126              A Traveler's Needs   2024-11-22                70
5127                    Emilia Pérez   2024-11-01                70
5128                      Monkey Man   2024-04-05                70

[5129 rows x 3 columns]

In [9]:
# auto set oscar year based on release year
all_films_df["release_year"] = all_films_df["release_date"].dt.year
all_films_df["year"] = all_films_df["release_year"]

# but make modifications as needed
oscar_year_mods = [
    {"title": "The Father", "release_year": 2021, "oscar_year": 2020},
    {"title": "Judas and the Black Messiah", "release_year": 2021, "oscar_year": 2020},
    {"title": "I'm Still Here", "release_year": 2025, "oscar_year": 2024}
]
for mod in oscar_year_mods:
    all_films_df.loc[(all_films_df["title"] == mod["title"]) & 
                     (all_films_df["release_year"] == mod["release_year"]), "year"] = mod["oscar_year"]

In [10]:
all_films_df.query("release_year != year")

,title,release_date,metacritic_score,release_year,year
4063,The Father,2021-02-26,88,2021,2020
4083,Judas and the Black Messiah,2021-02-12,85,2021,2020
4961,I'm Still Here,2025-01-17,84,2025,2024

In [11]:
# add ranking based on year + score
all_films_df["metacritic_rank"] = all_films_df.groupby("year").cumcount() + 1

# add tie rankings
all_films_df["tie_rank"] = all_films_df.groupby(["year", "metacritic_score"]).cumcount() + 1

In [12]:
# import nominee list
noms_df = pd.read_csv("data/oscar-noms.csv")
noms_df.head()

                            title  year  winner
0  Crouching Tiger, Hidden Dragon  2000       0
1                         Traffic  2000       0
2                 Erin Brockovich  2000       0
3                       Gladiator  2000       1
4                        Chocolat  2000       0

In [13]:
# merge nom + winner flags onto main df
all_films_plus_df = all_films_df.merge(noms_df, on = ["title", "year"], how = "outer")
all_films_plus_df.head()

,title,release_date,metacritic_score,release_year,year,metacritic_rank,tie_rank,winner
0,!Women Art Revolution,2011-06-01,70,2011,2011,134,8,NaN
1,$9.99,2009-06-19,68,2009,2009,126,2,NaN
2,'71,2015-02-27,83,2015,2015,36,5,NaN
3,(500) Days of Summer,2009-07-17,76,2009,2009,67,8,NaN
4,(Untitled),2009-10-23,58,2009,2009,204,4,NaN

In [14]:
# check for nominees that did not match to metacritic data
all_films_plus_df[all_films_plus_df["metacritic_rank"].isna()]

Empty DataFrame
Columns: [title, release_date, metacritic_score, release_year, year, metacritic_rank, tie_rank, winner]
Index: []

In [33]:
# add clean oscar fields
all_films_plus_df["oscars_nom"] = np.where(~all_films_plus_df["winner"].isna(), 1, 0)
all_films_plus_df["oscars_win"] = np.where(all_films_plus_df["winner"] == 1, 1, 0)

all_films_plus_df["min_oscar_nom_rank"] = all_films_plus_df.loc[all_films_plus_df["oscars_nom"] == 1].groupby("year")["metacritic_rank"].transform("max")
all_films_plus_df["min_oscar_nom_rank"] = all_films_plus_df.groupby("year")["min_oscar_nom_rank"].fillna(all_films_plus_df.groupby("year")["min_oscar_nom_rank"].transform("min"))
all_films_plus_df["min_oscar_nom_metacritic_score"] = all_films_plus_df.loc[all_films_plus_df["oscars_nom"] == 1].groupby("year")["metacritic_score"].transform("min")
all_films_plus_df["min_oscar_nom_metacritic_score"] = all_films_plus_df.groupby("year")["min_oscar_nom_metacritic_score"].fillna(all_films_plus_df.groupby("year")["min_oscar_nom_metacritic_score"].transform("max"))
all_films_plus_df["oscar_win_rank"] = all_films_plus_df.loc[all_films_plus_df["oscars_win"] == 1].groupby("year")["metacritic_rank"].transform("max")
all_films_plus_df["oscar_win_rank"] = all_films_plus_df.groupby("year")["oscar_win_rank"].fillna(all_films_plus_df.groupby("year")["oscar_win_rank"].transform("min"))
all_films_plus_df["oscar_win_metacritic_score"] = all_films_plus_df.loc[all_films_plus_df["oscars_win"] == 1].groupby("year")["metacritic_score"].transform("min")
all_films_plus_df["oscar_win_metacritic_score"] = all_films_plus_df.groupby("year")["oscar_win_metacritic_score"].fillna(all_films_plus_df.groupby("year")["oscar_win_metacritic_score"].transform("max"))

all_films_plus_df.head()

/var/folders/qr/61rrvq_92mg3n_b6y59644380000gn/T/ipykernel_60005/138871007.py:6: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  all_films_plus_df["min_oscar_nom_rank"] = all_films_plus_df.groupby("year")["min_oscar_nom_rank"].fillna(all_films_plus_df.groupby("year")["min_oscar_nom_rank"].transform("min"))
/var/folders/qr/61rrvq_92mg3n_b6y59644380000gn/T/ipykernel_60005/138871007.py:8: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  all_films_plus_df["min_oscar_nom_metacritic_score"] = all_films_plus_df.groupby("year")["min_oscar_nom_metacritic_score"].fillna(all_films_plus_df.groupby("year")["min_oscar_nom_metacritic_score"].transform("max"))
/var/folders/qr/61rrvq_92mg3n_b6y59644380000gn/T/ipykernel_60005/138871007.py:10: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  all_films_plus_df["oscar_win_rank"] = all_films_plus_df.groupby("year")["oscar_win_rank"].fillna(all_films_plus_df.groupby("year")["oscar_win_rank"].transform("min"))
/var/folders/qr/61rrvq_92mg3n_b6y59644380000gn/T/ipykernel_60005/138871007.py:12: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  all_films_plus_df["oscar_win_metacritic_score"] = all_films_plus_df.groupby("year")["oscar_win_metacritic_score"].fillna(all_films_plus_df.groupby("year")["oscar_win_metacritic_score"].transform("max"))

,title,release_date,metacritic_score,release_year,year,metacritic_rank,tie_rank,winner,oscars_nom,oscars_win,min_oscar_nom_rank,oscar_win_rank,oscar_win_metacritic_score,min_oscar_nom_metacritic_score
0,!Women Art Revolution,2011-06-01,70,2011,2011,134,8,NaN,0,0,409.0,5.0,89.0,46.0
1,$9.99,2009-06-19,68,2009,2009,126,2,NaN,0,0,242.0,1.0,95.0,53.0
2,'71,2015-02-27,83,2015,2015,36,5,NaN,0,0,119.0,6.0,93.0,76.0
3,(500) Days of Summer,2009-07-17,76,2009,2009,67,8,NaN,0,0,242.0,1.0,95.0,53.0
4,(Untitled),2009-10-23,58,2009,2009,204,4,NaN,0,0,242.0,1.0,95.0,53.0

In [34]:
all_films_plus_df[["title", "year", "metacritic_score", "metacritic_rank", 
                   "oscars_nom", "oscars_win",
                   "min_oscar_nom_metacritic_score", "min_oscar_nom_rank", 
                   "oscar_win_metacritic_score", "oscar_win_rank", "tie_rank"
                  ]].to_csv(f"data/metacritic-topmovies-byyear-{min(all_films_plus_df['year'])}to{max(all_films_plus_df['year'])}.csv", index = False)